<div id="menu">
	<div class="menu-entry">
		<div class="menu-row ui-helper-clearfix">
			<div class="menu-thumbnail"></div>
			<div class="menu-title">
				Start
			</div>
		</div>
		<div class="menu-row ui-helper-clearfix">
			<div class="menu-spacer"></div>
			<div class="menu-items">
				<ul>
					<li>
						<a href="#">Strefy</a>
					</li>
					<li>
						<a href="#">Adresacja</a>
					</li>
					<li>
						<a href="#">Usługi</a>
					</li>
					<li>
						<a href="#">Polityki</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
