<div id="interface-form-<%= type %>" class="interface-form" data-close-on="dialog-open">
  <%= form_for model, :as => :interface, :url => wizard_interfaces_path, :remote => true do |f| %>
    <table>
      <%= yield %>
    </table>
    <%= submit_tag %>
  <% end %>
</div>
