<div id="menu">
	<div class="menu-entry">
		<div class="menu-row ui-helper-clearfix">
			<div class="menu-thumbnail"></div>
			<div class="menu-title">
				<a href="#">Dashboard</a>
			</div>
		</div>
	</div>
	<div class="menu-entry">
		<div class="menu-row ui-helper-clearfix">
			<div class="menu-thumbnail"></div>
			<div class="menu-title">
				Komunikacja
			</div>
		</div>
		<div class="menu-row ui-helper-clearfix">
			<div class="menu-spacer"></div>
			<div class="menu-items">
				<ul>
					<li>
						<a href="#">Messanger</a>
					</li>
					<li>
						<a href="#">Email</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
