<% if !flash.blank? -%>
<div id="message-panel">
	<ul class="ui-widget">
		<% flash.each do |type, msg| -%>
		<li class="ui-message ui-corner-all message-<%= type %>">
			<%= msg %>
		</li>
		<% end -%>
	</ul>
</div>
<% end -%> 