<div id="iptables-editor">
	<table>
		<tr>
			<td colspan="3">a</td>
		</tr>
		<tr>
			<td colspan="3" class="image"><%= image_tag "iptables/all/dpp-0.png", :alt => nil -%></td>
		</tr>
		<tr>
			<td>a</td>
			<td class="image middle"><%= image_tag "iptables/all/dpp-1.png", :alt => nil -%></td>
			<td>a</td>
		</tr>
		<tr>
			<td colspan="3" class="image"><%= image_tag "iptables/all/dpp-2.png", :alt => nil -%></td>
		</tr>
		<tr>
			<td>a</td>
			<td class="image middle"><%= image_tag "iptables/all/dpp-3.png", :alt => nil -%></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="3">a</td>
		</tr>
		<tr>
			<td colspan="3">a</td>
		</tr>
	</table>
</div>
