<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Informacje o systemie</a></tabsli>
    <li><a href="<%= wizard_interfaces_path %>">Konfiguracja interfejsów</a></li>
    <li><a href="<%= wizard_zones_path %>">Konfiguracja stref</a></li>
  </ul>
  <div id="tabs-1">
  </div>
  <div id="tabs-3">
  </div>
</div>
