<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Informacje o systemie</a></tabsli>
    <li><a href="/wizard/zones">Konfiguracja stref</a></li>
    <li><a href="#tabs-3">Konfiguracja interfejsów</a></li>
  </ul>
  <div id="tabs-1">
  </div>
  <div id="tabs-3">
  </div>
</div>
