<div id="profiles-menu" class="ui-helper-clearfix">
	<div>
		<%= link_to "User space", profile_change_path('user') %>
	</div>
	<div>
		<%= link_to "Kreator", profile_change_path('wizzard') %>
	</div>
	<div>
		<%= link_to "Panel", profile_change_path('panel') %>
	</div>
	<div>
		<%= link_to "Edytor", profile_change_path('editor') %>
	</div> 
</div>