<div id="menu">
	<div class="menu-entry">
		<div class="menu-row ui-helper-clearfix">
			<div class="menu-thumbnail"></div>
			<div class="menu-title">
				Start
			</div>
		</div>
	</div>
	<div class="menu-entry">
		<div class="menu-row ui-helper-clearfix">
			<div class="menu-thumbnail"></div>
			<div class="menu-title">
				Users/Groups
			</div>
		</div>
	</div>
	<div class="menu-entry">
		<div class="menu-row ui-helper-clearfix">
			<div class="menu-thumbnail"></div>
			<div class="menu-title">
				Usługi
			</div>
		</div>
	</div>
</div>
