/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#iptables-editor {
	table {
		border-collapse: collapse;
		empty-cells: show;
		margin: 0 auto;
		background: white;
	}
	
	tr {
		margin: 0;
		padding: 0;
	}
	
	td {
		text-align: center;
		vertical-align: top;
		padding: 0px;
	}
	
	td.image {
		line-height: 0px;
	}
	
	td.middle {
		width: 62px;
	}
	
	div.box {
		height: 100%;
		border: 1px solid black;
		border-radius: 5px;
		
		h3 {
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
			margin: 0;
			border-bottom: 1px solid black;
		}
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		li {
			background: yellow;
			height: 20px;
		}
		li:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}
