/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#iptables-editor {
	table {
		width: 100%;
		border-collapse: collapse;
	}
	
	tr {
		margin: 0;
		padding: 0;
	}
	
	td {
		text-align: center;
		vertical-align: middle;
		padding: 0px;
		width: auto;
	}
	
	td.image {
		line-height: 0px;
	}
	
	td.middle {
		width: 70px;
	}
}
