#iptables-editor {
	.interface {
		margin: 0, auto;
		display: table;
	}
	
	.table {
		border-collapse: collapse;
		border-spacing: 0;
		empty-cells: show;
		margin: 0 auto;
		background: white;
		display: table;
	}
	
	.tr {
		display: table-row;
	}
	
	.td {
		text-align: center;
		vertical-align: top;
		padding: 0px;
		display: table-cell;
	}
	
	.td.image:first-child {
		text-align: right;
	}
	.td.image:last-child {
		text-align: left;
	}
	
	.td.image {
		line-height: 0px;
	}
	
	.td.middle {
		width: 60px;
	}
	
	.td.bg2 {
		background: image-url("iptables/all/dpp-2-2-bg.png") repeat-y;
	}
	.td.bg4 {
		background: image-url("iptables/all/dpp-4-2-bg.png") repeat-y;
	}
	
	.box {
		height: 100%;
		border: 1px solid black;
		border-radius: 5px;
		
		h3 {
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
			margin: 0;
			border-bottom: 1px solid black;
		}
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		li {
			background: yellow;
			height: 20px;
		}
		li:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}
