@import "settings";

html {
  height: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  color: #3a4f54;
  background-color: #dfecf1;
  font-size: small;
  height: 100%;
}

a {
  color: #e33b06;
}

table {
  empty-cells: show;

  td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
  }
}

#profiles-menu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  
  div {
    width: 20%;
    float: left;
    
    a {
      display: block;
      border: 1px solid black;
      background: #AED0EA;
      line-height: $profiles-menu-height;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
    }
    
  }
    div.active a {
      background: #8EB0AA;
    }
}

@import "left-menu";

.ui-helper-left {
  float: left;
}

.ui-helper-right {
  float: right;
}

#busyImage {
  position: absolute;
  left: 50%;
  top: 50%;
}

#message-panel {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  z-index: 100;

  .ui-widget {
    list-style-type: none;
    padding: 0;
  }
  
  .ui-message {
    display: block;
    width: $message-panel-width;
    margin-left: - $message-panel-width / 2;
    margin-top: - $message-panel-height;
    line-height: $message-panel-height;
    text-align: center;
    cursor: pointer;
  }
  
  .message-notice {
    background: #00FF33;
  }
  .message-warning {
    background: orange;
  }
  .message-error {
    background: red;
  }
}



#page-content {
  margin-top: 15px;
  margin-left: $menu-thumbnail-width + 15px;
  height: 90%;
  width: 95%;
  
  form {
    height: 90%;
  }
  
  .ui-button {
    margin: .5em;
    
    .ui-button-text {
      padding: .3em 1em;
    }
  }
  
  input.ui-button {
    padding: .4em 1em;
  }

  .data-list {
    border-collapse: collapse;
    
    .ui-button {
      margin: 0em;
    }

    th {
      border-bottom: 1px solid black;
      text-align: left;
      padding: .5em;
    }

    td {
      padding: .5em;
    }
  
    .id {
      width: 2em;
    }
  
    .item-list-column {
      width: 9em;
    }
  
    .item-list-column-long {
      width: 20em;
    }
  }
  
  .button {
    &.action {
      float: left;
    }
    
    &.less-important {
      
    }
  }
}