.wizard {
  #tabs {
    height: 100%;

    .ui-tabs-panel {
      overflow: auto;
    }
  }

  .tabs-navigation {
    margin: 10px;
    overflow: auto;

    .button[data-action="next"], .button.right {
      float: right;
    }
  }
}
