.interfaces-partial {
  table {
    width: 100%;

    th {
      text-align: center;
      white-space: nowrap;
    }

    input {
      width: 150px;
    }
  }
}

div[data-crud-form] {
  display: none;

  th {
    text-align: right;
    padding-right: 10px;
  }

  input[readonly] {
    background-color: #EEE
    ;
  }
}

div.interface-form {
  display: none;
}
