.zones {
  table {
    width: 100%;

    th {
      text-align: center;
      white-space: nowrap;
    }

    input {
      width: 150px;
    }
  }

  div#add-form th {
    text-align: right;
    padding-right: 10px;
  }
}
