/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
@import "settings";

body.index {
  $menu-title-width: $menu-width - $menu-thumbnail-width;
  
  #page-content #menu {
    position: inherit;
    z-index: 0;
    opacity:1;
    height: auto;
    
    .menu-entry {
      margin: 3px auto;
      width: $menu-width;
    }
    
    .menu-row {
      margin: 0;
      padding: 0;
    }
  }
}