<% if @importError -%>
	<div id="iptables-editor">
		Błąd podcza wczytywania regół iptables
	</div>
<% elsif @rules.blank? -%>
	<div id="iptables-editor">
		Brak regół do wyświetlenia
	</div>
<% else %>
	<%= render :partial => 'edit_form', :locals => { :rules => @rules } %>
<% end -%>