<%= "#{@a}: dupa        !!!!!!!!!!!!!!!!!!!!!!!!!!!!  #{$?}" %>

<% if @rules.blank? -%>
	<div id="iptables-editor">
		Brak regół do wyświetlenia
	</div>
<% else %>
	<%= render :partial => 'edit_form', :locals => { :rules => @rules } %>
<% end -%>