#!/bin/bash

FWVER=20111106

IPTABLES="/sbin/iptables";ipt="${IPTABLES}"
IPTABLES_SAVE="${ipt}-save";iptsv="${IPTABLES_SAVE}"
IPTABLES_RESTORE="${ipt}-restore";iptrs="${IPTABLES_RESTOR}"

FW_DIR="/app/etc/fw";fwd="${FW_DIR}"
FW_INIT_CONF="${fwd}/firewall"
FW_SAVE_DIR="${fwd}"
FW_BACKUP_CONF="${fwd}/firewal.bu"
FW_RULES_CONF="${fwd}/firewall.rules"

DNS1="193.34.0.1"
DNS2="8.8.8.8"

### Definicja interfejsow ###
#	zone 123			zone 300
#	eth0				eth1
#	br123				br300
#	vlan123				vlan300
#	[tun|tap] 123 [k|v] 1
#

WAN1_IF=br300
LAN1_IF=br1

### Adresacja ###
WAN1_IP=192.168.4.46
LAN1_IP=192.168.123.253

### Dostep do ZARZĄDZANIA ###
ADM_HOSTS="153.19.0.0/16 192.168.123.0/24"

### podsieci ###
#NET_WAN1
N_W1="193.34.0";N_W1_S="0";N_W1_M="24";WAN1_NET="${N_L1}.${N_L1_S}.${N_L1_M}"
#NET_LAN1
N_L1="192.168.123";N_L1_S="0";N_L1_M="24";LAN1_NET="${N_L1}.${N_L1_S}.${N_L1_M}"
